/*Intro*/
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  background-color: #e54739;

}


header {
padding:0;

}
#introtarget p{
  color:#e54739;
  align-items: center;
}

p{
  color: white;
  font-size: 19px;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;

}
.about p a{
  color: #2a3d90;
  font-weight: 100px;
  font-family: 'Rubik', sans-serif;

}


#rectangle {
  margin-top: 40%;
  border: 3px solid white ;
  padding: 5px ;
  margin-left: 20%;
  justify-content: center;
  width: 60%;

  }

  .rectangle {
    background-color: white;
    color: white;
    border: 3px solid #e54739;
    -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor:pointer;
  }

  .rectangle:hover{
    background-color: #2a3d90;
    color: white;



  }
#rectangle2{
  border: 0.1px solid white ;
  padding:10px;
  /*margin-top: 5px;*/
}
.rectangle2{
  border: 0.1px solid black ;
  padding:5px;

  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: black;
cursor:pointer;


  /*margin-top: 5px; */
}
.rectangle2:hover{
  border: 1px solid #e54739 ;
  color: #e54739;
}

#rectangle3{
  border: 0.1px solid white ;
  padding:10px;
  margin-bottom: 5px;

}
.mainpage {
  overflow:hidden;
  background-color: #2a3d90;
  align-content: center;
  padding-top: 1%;

}

.mainpage h1 {
  margin-top:20%;
  color: #e54739;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-shadow: 2px 2px #FFFFFF;
  margin-bottom:10%;


}


.mainpage h2 {
  color: #e54739;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 5%;
  padding-top: 5%;
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);


}
.mainpage p {
  margin-top: 0px;
  margin-bottom: 5%;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;

}
.mainpage h3:hover {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
text-align: left;
color: white;
text-decoration: line-through;

}
.mainpage h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
text-align: left;
color: white;
text-decoration: underline;
cursor:pointer;
font-weight: 100;
padding-top:8%;

}


.mainpage h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
margin-bottom: 0px;
margin-top: 0px;
color: white;
font-weight: 100;


}
.col-sm-8 {
 justify-content: flex-end;
 margin-left: 20%;

}




header .row {
  display: flex;
  align-items: left;
  background-color: #2a3d90;

}

header .row2 {
  display: flex;
  align-items: left;
  background-color: #e54739;

}
header h1 {
  font-weight: 200;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;

}

header nav {
  display: flex;
  justify-content: flex-end;
  background-color: #2a3d90;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif;

}

header p {
  padding: 0 20px;
  text-size: 1.5em;
  text-decoration: underline;
  color: black;
  background-color: #2a3d90;
  font-family: 'Rubik', sans-serif;


}


div {
  width: 100%;
  height: 100%;
}

.intro1 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #2a3d90;
    overflow:hidden;

  }
  .introabout {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #e54739;
      overflow:hidden;

    }

.introguide{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #e54739;
  overflow:hidden;
}

.introduction {
  padding-top: 0;
  margin-top: 0;
}
.introduction h2{
  margin-top: 1%;
  font-family: 'Rubik', sans-serif;


}
.introduction p{
  font-size: 8px;
  padding-top: 5;
  margin-bottom: 2%;
  margin-top: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}
.video {
  align:right;
  margin-top: 10%;
  margin-bottom: 10%
}


section .row{
  margin-top: 4%;
  padding-bottom: 20px;
  padding-right: 0;

}


.col-md-3 {
  padding-bottom: 1%;
padding-right: 10%;
}

.col-md-3 p{
  font-size: 13px;
  padding-top: 2%;
  font-family: 'Rubik', sans-serif;

}

video {
    width: 100%;
    height: 100vh;
}


.guide {
background-color: #e54739;
height: 100%;
width: 100%;
}

.guide p{
  margin-top: 10%;
  font-size: 18px;
  font-weight: 200;
  font-family: 'Rubik', sans-serif;


}
.guide a:hover{
  background-color: #e54739;
  align-items: center;
text-decoration: line-through;
color: #2a3d90;
}
.guide a{
  align-items: center;
color: #2a3d90;
font-weight: 400;
}

.fondo1 a:hover{
  align-items: center;
text-decoration: line-through;
color: white;
}
.fondo1 a{
  align-items: center;
color: white;
text-decoration: underline;

}

.about {
  background-color: #e54739;
  align-items: center;

}
.about a{
  align-items: center;
color: #2a3d90;
font-family: 'Rubik', sans-serif;
font-weight: 400;

}
.about a:hover{
  background-color: #e54739;
  align-items: center;
text-decoration: line-through;
color: #2a3d90;
}

.about  p{
margin-top: 2%;
  font-size: 17px;
  font-weight: 100;
  font-family: 'Rubik', sans-serif;

}

.about h1{
  font-size: 70px;
  font-weight: 600;
  color: #2a3d90;
  margin-top:5;
  margin-bottom: 10%;
  text-shadow: 3px 3px #FFFFFF;
  font-family: 'Rubik', sans-serif;

}

.about h1:hover{
  font-size: 70px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top:5;
  margin-bottom: 20%;
  text-shadow: 3px 3px #2a3d90;
  font-family: 'Rubik', sans-serif;

}
.about h2{
  color: #2a3d90;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'Rubik', sans-serif;

}

.guide h1{
  font-size: 70px;
  font-weight: 600;
  color: #2a3d90;
  margin-top:5;
  text-shadow: 3px 3px #FFFFFF;
  margin-bottom: 20%;
  font-family: 'Rubik', sans-serif;


}
.guide h1:hover{
  font-size: 70px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top:5;
  text-shadow: 3px 3px #2a3d90;
  margin-bottom: 20%;
  font-family: 'Rubik', sans-serif;


}
.guide h2{
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-top: 0%;
  text-align: left;
  font-family: 'Rubik', sans-serif;

}
.about h4{
  padding-top: 10%;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;


}

.partes{
  padding-bottom: 0;
}
.partes p{
  margin-top: 0;
  padding-bottom: 1%;
}

.partes2{
  padding-bottom: 0;
  padding-top:0;
}
.partes3{
  padding-bottom: 10%;
}
.pictures{
  padding-top: 10%;
  padding-bottom: 10%;
  border: 0.1px solid white ;
  padding:10px;
}
.u {
  text-decoration: underline;
  color: #e54739;
}
.adviceguide{
  padding-top: 10%;
  font-style: italic;
  font-weight: 200;
  overflow: hidden;


}
/*first question*/

.fondo {
overflow: hidden;
  padding-top: 20%;
  padding-bottom: 25%;
  background-color:#2a3d90 ;
  }
  .fondo1 {
  overflow: hidden;

background-color:#2a3d90 ;
    }

.fondo1 p{
        color: white;
        font-size: 15px;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        line-height: 2;
        padding-top: 60%;

        }

.fondo2 {
  padding-top: 20%;
  padding-bottom: 25%;
  background-color:#2a3d90 ;
  align-items: center;
  font-family: 'Rubik', sans-serif;

    }

.fondo2 p{
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: normal;
    padding-top: 20%;
    margin-left: 10%;
    text-align: left;
    font-weight: 100;


    }
.fondo2 img{
  align-items: center;
  margin-left: 10%;
}
.fondo2 h3{
  align-items: center;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;

}

.fondo p{
  color: white;
font-size: 23px;
font-family: 'Rubik', sans-serif;
font-weight: 100;
text-align: center;



}

.fondo h3{
color: #2a3d90;
font-size: 20px;
text-align: center;
font-family: 'Rubik', sans-serif;

}

.fondo3 {
  padding-top: 30%;
  padding-bottom: 25%;
  background-color:#2a3d90 ;

  }
  .fondo3 h3{
    color: #2a3d90;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;

  }
  .fondo3 p{
    color: white;
  font-size: 23px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;

  }

  .fondo2 h3{
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
  }



.icon1{
  padding-top: 10%;
}
/*.container-fluid {
  background: #2a3d90;
}*/

.row-full {
width: 100vw;
position: relative;
margin-left: -50vw;
height: 100px;
margin-top: 100px;
left: 50%;

}


/*footer*/
.footer {
  background-color: #e54739;
  padding-top: 10%;
  padding-bottom: 5%;
  color: white;
  font-family: 'Rubik', sans-serif;

}

hr {
  color: white;
  width:400;
  padding-bottom:5%;
}

/*arrow*/

html body [data-ca3_iconfont="ETmodules"]::before {
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url("../images/seta2red.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-arrow2 {
	background-image: url("../images/seta2.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: -30px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: -90px;
	color: #e54739;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}
.ca32-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: -450px;
	color: #e54739;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

/*menu*/
.hamburger {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.hamburger__icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
}
.hamburger__icon, .hamburger__icon:before, .hamburger__icon:after {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.hamburger__icon:before, .hamburger__icon:after {
  position: absolute;
  content: "";
}
.hamburger__icon:before {
  top: -7px;
}
.hamburger__icon:after {
  top: 7px;
}
.hamburger.active .hamburger__icon {
  background-color: transparent;
}
.hamburger.active .hamburger__icon:before, .hamburger.active .hamburger__icon:after {
  background-color: #fff;
}
.hamburger.active .hamburger__icon:before {
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .hamburger__icon:after {
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.fat-nav {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(229, 71, 57);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(0);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.0s;
  -o-transition-duration: 0.0s;
  -webkit-transition-duration: 0.0s;
  transition-duration: 0.0s;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.fat-nav__wrapper {
  width: 80%;
  height: 60%;
  display: table;
  table-layout: fixed;
}
.fat-nav.active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.fat-nav ul {
  display: table-cell;
  vertical-align: left;
  margin: 60;
  padding: 20;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;

}
.fat-nav li {
  list-style-type: none;
  text-align: left;
  padding-left: 5%;
  font-size: 5em;
  padding-top: 5%;
  margin-top: 20;
  font-family: 'Rubik', sans-serif;



}
.fat-nav li, .fat-nav li a {
  color: #fff;
  font-family: 'Rubik', sans-serif;

}
.fat-nav li a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;

}
.fat-nav li a:hover{
  color:#2a3d90;
  text-shadow: 4px 4px #ffffff;
  font-family: 'Rubik', sans-serif;

}
/*Wave text*/
.hit-the-floor {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik';
  text-shadow:
    0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 1px 0 #bbb,
    0 1px 0 #b9b9b9,
    0 1px 0 #aaa,
    0 1px 1px rgba(0,0,0,.1),
    0 0 1px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 1px 5px rgba(0,0,0,.2),
    0 1px 10px rgba(0,0,0,.25),
    0 1px 10px rgba(0,0,0,.2),
    0 1px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: left;
}

#videointroductorio{

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
/*ok*/
.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../images/mouse.png');
   background-repeat: no-repeat;
   background-color: #2a3d90;
   background-position: center;
}
/*glich*/

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background-color: #2a3d90;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background-color: #2a3d90;

  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

/*Video1*/
#preguntauno{display:none;}
#preguntados{display:none;}
#preguntatres{display:none;}


#videoContainer2{display:none;}
#videoContainer3{display:none;}
#videoContainer4{display:none;}


/*Video2*/
#preguntaduno{display:none;}
#preguntaddos{display:none;}
#preguntadtres{display:none;}


#videoContainerd2{display:none;}
#videoContainerd3{display:none;}
#videoContainerd4{display:none;}
/*Video3*/
#preguntasuno{display:none;}
#preguntasdos{display:none;}
#preguntastres{display:none;}


#videoContainers2{display:none;}
#videoContainers3{display:none;}
#videoContainers4{display:none;}
/*Video4*/
#preguntaauno{display:none;}
#preguntaados{display:none;}
#preguntaatres{display:none;}


#videoContainera2{display:none;}
#videoContainera3{display:none;}
#videoContainera4{display:none;}
/*Video5*/
#preguntatuno{display:none;}
#preguntatdos{display:none;}
#preguntattres{display:none;}


#videoContainert2{display:none;}
#videoContainert3{display:none;}
#videoContainert4{display:none;}
/*Video6*/
#preguntaouno{display:none;}
#preguntaodos{display:none;}
#preguntaotres{display:none;}


#videoContainero2{display:none;}
#videoContainero3{display:none;}
#videoContainero4{display:none;}



/*Interaction*/
